name: "Test template MacOS"
on:
  workflow_dispatch: # allows manual triggering
  push:
    branches:
      - 'update_rde'
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest]
    steps:
    - uses: actions/checkout@v6
    - uses: cachix/install-nix-action@v31
      with:
        github_access_token: ${{ secrets.GITHUB_TOKEN }}
    - uses: cachix/cachix-action@v16
      with:
        name: rde
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
        extraPullNames: rstats-on-nix, nix-community
    
    # Test RDE template
    - name: Build RDE template
      run: nix build ./templates/rde
    - name: Check RDE flake
      run: nix flake check ./templates/rde
    - name: Test RDE dev shell
      run: |
        cd templates/rde
        nix develop --command bash -c "p --headless --version"
    
    # Test ED template
    - name: Build ED template
      run: nix build ./templates/ed
    - name: Check ED flake
      run: nix flake check ./templates/ed
    - name: Test ED dev shell
      run: |
        cd templates/ed
        nix develop --command bash -c "vv --headless --version"
